<% layout('layouts/boilerplate') %>
<h1>This is PROJECT</h1>
<div>
    <% const project = assignedProject %> 
    <h2>Name:</h2>
    <p><%= project.name %></p>

    <h2>Description:</h2>
    <p><%= project.description %></p>

    <h2>Owner:</h2>
    <p>
        <a href="/users/<%= project.userID._id %>/achievements">
            <%= project.userID.firstName %> <%= project.userID.lastName %>
        </a>
    </p>

    <h2>Attention:</h2>
    <div>
        <form action="/projects/<%= project._id %>/like" method="POST">
            <button style="display: inline;">Like</button>
            <span><%= project.nofLikes %></span>
        </form>
        <form action="/projects/<%= project._id %>/like" method="POST">
            <input type="text" name=comment[content]>
            <button style="display: inline;">Comment</button>
            <span><%= project.nofComments %></span>
        </form>
    </div>
</div>